.content--all {
    background-color: #830a5f;
    height: 90vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.item--content,
.decoration--content {
    position: absolute;
}

.item--content {
    height: 150px;
    width: 100px;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.prc--01 {
    background-color: #0b539b;
    bottom: 55px;
}

.prc--02 {
    background-color: #5a9b63;
    bottom: 55px;
}

.prc--03 {
    background-color: #bd8a1c;
    bottom: 55px;
}
.opacity--00 {
    opacity: 0;
}
.active--01 {
    right: 130px;
    cursor: pointer;
}
.active--02 {
    right: 20px;
    cursor: pointer;
}

.decoration--content {
    width: 210px;
    right: 20px;
    bottom: 5px;
    z-index: 3;
}
.active--content {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: auto;
}
/* .item-carrusel {
    overflow: hidden;
    height: 150px;
    width: 98px;
}

.content--all .active {
    width: 100% !important;
    height: 100% !important;
}

.item-carrusel img {
    position: absolute;
    height: 100%;
    opacity: 0.4;
    z-index: 5;
} */
