.content--all {
    height: 80vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgba(228, 235, 241, 0.1);
    box-shadow: -13px 13px 30px rgba(0, 0, 0, 0.4);
}

.item--content,
.decoration--content {
    position: absolute;
}

.item--content {
    height: 150px;
    width: 100px;
    z-index: 3;
    transition: all 0.3s ease-in-out;
}

.prc--01 {
    background-color: #0b539b;
    bottom: 55px;
}

.prc--02 {
    background-color: #5a9b63;
    bottom: 55px;
}

.prc--03 {
    background-color: #bd8a1c;
    bottom: 55px;
}
.opacity--00 {
    opacity: 0;
}
.active--01 {
    right: 130px;
    cursor: pointer;
    border-radius: 5px;
}
.active--02 {
    right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.decoration--content {
    width: 210px;
    right: 20px;
    bottom: 8px;
    z-index: 3;
}
.decorator-box {
    width: 117px;
}
.decorator-box > span {
    display: block;
    height: 4px;
    border-radius: 3px;
    background-color: #b5bfc6;
}
.active--content {
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: auto;
}

.carrusel--arrow {
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e4ebf1;
}

.active--01:hover,
.active--02:hover,
.carrusel--arrow:hover {
    box-shadow: -3px -3px 10px #fafbff8e, 3px 3px 10px #161b1d77;
}

.carrusel--shadow {
    box-shadow: -13px 13px 50px rgba(0, 0, 0, 0.6);
}

.project--description {
    font-family: "Open-Sans";
}
