.content--all {
    background-color: #0a4683;
    height: 90vh;
    position: relative;
    width: 100%;
}

.box-item-content {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: aqua;
    height: 300px;
    width: 400px;
}

.all-items {
    width: 100%;
    display: flex !important;
    background-color: antiquewhite;
}

.item-carrusel {
    overflow: hidden;
    height: 150px;
    width: 98px;
    z-index: 2;
}
.all-items .active {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    z-index: 1 !important;
    left: calc(-100% + 50px);
    top: calc(-100% + 20px);
    clip-path: inset(63% 14% 2% 64%);
}

/* .item-carrusel {
    overflow: hidden;
    height: 150px;
    width: 98px;
}

.content--all .active {
    width: 100% !important;
    height: 100% !important;
}

.item-carrusel img {
    position: absolute;
    height: 100%;
    opacity: 0.4;
    z-index: 5;
} */
