@font-face {
    font-family: "Audiowide";
    src: url('http://127.0.0.1:5500/assets/fonts/Audiowide-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Open-Sans";
    src: url('http://127.0.0.1:5500/assets/fonts/OpenSans-Regular.ttf');
    font-style: normal;

}

.cw__incio--title {
    font-size: 4em;
    font-family: "Audiowide", cursive;
    animation: text-win 2.5s infinite ease-in-out;
}

#MyNewCanvas {
    position: absolute;
    top: 0;
}

.cw__inicio--animation {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.cw__background--transparent {
    background-color: rgba(255, 255, 255, 0.1);
}


.cw__border--transparent {
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease;
    cursor: pointer;
}

.cw__border--transparent:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cw__bg--message {
    position: absolute;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.cw__title--message {
    font-size: 30px;
    height: 15px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(15, 15, 15);
}

.start-cw {
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #ffffff;
    position: absolute;
    animation-name: cube-start;
    animation-iteration-count: infinite;
}

.start2-cw {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #ffffff;
    position: absolute;
    animation-name: cube-start;
    animation-iteration-count: infinite;
}

.cw__luciern {
    box-shadow: inset 0px 0px 3px 1px rgb(19, 139, 235),
        0px 0px 15px 10px rgb(19, 139, 235);
    animation: cubeLun 5s linear infinite;
}

@keyframes cubeLun {
    50% {
        box-shadow: inset 0px 0px 2px 0px rgb(19, 139, 235),
            0px 0px 5px 3px rgb(19, 139, 235);
    }
    100% {
        box-shadow: inset 0px 0px 3px 1px rgb(19, 139, 235),
            0px 0px 15px 10px rgb(19, 139, 235);
    }
}

@keyframes cube-start {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes cube-start-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes text-win {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.cw__skill--portfolio {
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto;
    grid-template-areas: "skill content";
}

.cw__btn--sp {
    grid-area: skill;
}

.cw__content--sp {
    grid-area: content;
}

.tail {
    animation: ktail 3s infinite;
}

.hair {
    animation: khair 5s ease-in-out infinite;
}

.campa {
    animation: kcamp 3s infinite;
    opacity: 0.9;
}

.campa2 {
    animation: kcamp2 4s infinite;
    opacity: 0.87;
}

@keyframes ktail {
    50% {
        transform: translateX(3px) rotateZ(-deg) scaleY(1.005);
    }
}

@keyframes khair {
    30% {
        transform: scaleY(1.02) translateX(6px) rotateZ(-3deg) translateY(6px);
    }
    80% {
        transform: scaleY(1.05) translateX(-2px) rotateZ(0.8deg) translateY(4px);
    }
}

@keyframes kcamp {
    50% {
        transform: translateX(7px) rotateZ(-3deg);
    }
}

@keyframes kcamp2 {
    50% {
        transform: translateX(-3px) rotateZ(3deg);
    }
}

@keyframes cesped {
    30% {
        transform: scaleX(0.95) translateY(-2px);
    }
    80% {
        transform: scaleX(1.03) translateY(5px);
    }
}
